# Ignorar arquivos de ambiente
*.env

# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Ignorar pastas de dependências e ambientes virtuais
venv/
env/
.venv/
.conda/
*.conda

# Ignorar arquivos temporários de editores de texto
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Ignorar logs
*.log

# Ignorar diretórios de pacotes do Python
*.egg-info/
dist/
build/


# Ignorar o arquivo de áudio (se for grande ou temporário)
*.wav
*.mp3


